

.today.t7 { grid-row: 3 / span 1; }
.today.t9 { grid-row: 4 / span 1; }
.today.t11 { grid-row: 5 / span 1; }
.today.t13 { grid-row: 6 / span 1; }
.today.t15 { grid-row: 7 / span 1; }
.today.t17 { grid-row: 8 / span 1; }
.today.t19 { grid-row: 9 / span 1; }
.today.t21 { grid-row: 10 / span 1; }
.today.t23 { grid-row: 11 / span 1; }


.todaynot.t7 { grid-row: 3 / span 1; }
.todaynot.t9 { grid-row: 4 / span 1; }
.todaynot.t11 { grid-row: 5 / span 1; }
.todaynot.t13 { grid-row: 6 / span 1; }
.todaynot.t15 { grid-row: 7 / span 1; }
.todaynot.t17 { grid-row: 8 / span 1; }
.todaynot.t19 { grid-row: 9 / span 1; }
.todaynot.t21 { grid-row: 10 / span 1; }
.todaynot.t23 { grid-row: 11 / span 1; }

.tomo.t7 { grid-row: 3 / span 1; }
.tomo.t9 { grid-row: 4 / span 1; }
.tomo.t11 { grid-row: 5 / span 1; }
.tomo.t13 { grid-row: 6 / span 1; }
.tomo.t15 { grid-row: 7 / span 1; }
.tomo.t17 { grid-row: 8 / span 1; }
.tomo.t19 { grid-row: 9 / span 1; }
.tomo.t21 { grid-row: 10 / span 1; }
.tomo.t23 { grid-row: 11 / span 1; }

.tomonot.t7 { grid-row: 3 / span 1; }
.tomonot.t9 { grid-row: 4 / span 1; }
.tomonot.t11 { grid-row: 5 / span 1; }
.tomonot.t13 { grid-row: 6 / span 1; }
.tomonot.t15 { grid-row: 7 / span 1; }
.tomonot.t17 { grid-row: 8 / span 1; }
.tomonot.t19 { grid-row: 9 / span 1; }
.tomonot.t21 { grid-row: 10 / span 1; }
.tomonot.t23 { grid-row: 11 / span 1; }

.tdat.t7 { grid-row: 3 / span 1; }
.tdat.t9 { grid-row: 4 / span 1; }
.tdat.t11 { grid-row: 5 / span 1; }
.tdat.t13 { grid-row: 6 / span 1; }
.tdat.t15 { grid-row: 7 / span 1; }
.tdat.t17 { grid-row: 8 / span 1; }
.tdat.t19 { grid-row: 9 / span 1; }
.tdat.t21 { grid-row: 10 / span 1; }
.tdat.t23 { grid-row: 11 / span 1; }

.tdatnot.t7 { grid-row: 3 / span 1; }
.tdatnot.t9 { grid-row: 4 / span 1; }
.tdatnot.t11 { grid-row: 5 / span 1; }
.tdatnot.t13 { grid-row: 6 / span 1; }
.tdatnot.t15 { grid-row: 7 / span 1; }
.tdatnot.t17 { grid-row: 8 / span 1; }
.tdatnot.t19 { grid-row: 9 / span 1; }
.tdatnot.t21 { grid-row: 10 / span 1; }
.tdatnot.t23 { grid-row: 11 / span 1; }